In [1]:
import numpy as np
import pandas as pd

In [2]:
application_train = pd.read_csv('application_train.csv')
application_test = pd.read_csv('application_test.csv')
bureau = pd.read_csv('bureau.csv')
bureau_balance = pd.read_csv('bureau_balance.csv')
credit_card_balance = pd.read_csv('credit_card_balance.csv')
HomeCredit_columns_description = pd.read_csv('HomeCredit_columns_description.csv')
installments_payments = pd.read_csv('installments_payments.csv')
POS_CASH_balance = pd.read_csv('POS_CASH_balance.csv')
previous_application = pd.read_csv('previous_application.csv')
sample_submission = pd.read_csv('sample_submission.csv')

----------------------------------------------

## <center>1) Prise en main de la base de données</center>

### 1 - application_train

**application = demande (de prêt)**

In [5]:
application_train.shape

(307511, 122)

In [6]:
pd.set_option('display.max_columns', None)

application_train.head(5)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
application_train.SK_ID_CURR.value_counts()

100401    1
239070    1
243164    1
230874    1
237017    1
         ..
154398    1
148253    1
150300    1
160539    1
100303    1
Name: SK_ID_CURR, Length: 307511, dtype: int64

**--> application_train contient un grand nombre d'indicateurs sur chaque prêt. 1 ligne = 1 prêt. Le tableau contient également une colonne "target" qui vaut 0 si le prêt a été remboursé, 1 sinon**

### 2 - application_test

In [8]:
application_test.shape

(48744, 121)

In [9]:
application_test.head(5)

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.018850,-19241,-2329,-5170.0,-812,NaN,1,1,0,1,0,1,NaN,2.0,2,2,TUESDAY,18,0,0,0,0,0,0,Kindergarten,0.752614,0.789654,0.159520,0.0660,0.0590,0.9732,NaN,NaN,NaN,0.1379,0.125,NaN,NaN,NaN,0.0505,NaN,NaN,0.0672,0.0612,0.9732,NaN,NaN,NaN,0.1379,0.125,NaN,NaN,NaN,0.0526,NaN,NaN,0.0666,0.0590,0.9732,NaN,NaN,NaN,0.1379,0.125,NaN,NaN,NaN,0.0514,NaN,NaN,NaN,block of flats,0.0392,"Stone, brick",No,0.0,0.0,0.0,0.0,-1740.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.035792,-18064,-4469,-9118.0,-1623,NaN,1,1,0,1,0,0,Low-skill Laborers,2.0,2,2,FRIDAY,9,0,0,0,0,0,0,Self-employed,0.564990,0.291656,0.432962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,NaN,Working,Higher education,Married,House / apartment,0.019101,-20038,-4458,-2175.0,-3503,5.0,1,1,0,1,0,0,Drivers,2.0,2,2,MONDAY,14,0,0,0,0,0,0,Transport: type 3,NaN,0.699787,0.610991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-856.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.026392,-13976,-1866,-2000.0,-4208,NaN,1,1,0,1,1,0,Sales staff,4.0,2,2,WEDNESDAY,11,0,0,0,0,0,0,Business Entity Type 3,0.525734,0.509677,0.612704,0.3052,0.1974,0.9970,0.9592,0.1165,0.32,0.2759,0.375,0.0417,0.2042,0.2404,0.3673,0.0386,0.08,0.3109,0.2049,0.9970,0.9608,0.1176,0.3222,0.2759,0.375,0.0417,0.2089,0.2626,0.3827,0.0389,0.0847,0.3081,0.1974,0.9970,0.9597,0.1173,0.32,0.2759,0.375,0.0417,0.2078,0.2446,0.3739,0.0388,0.0817,reg oper account,block of flats,0.3700,Panel,No,0.0,0.0,0.0,0.0,-1805.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.010032,-13040,-2191,-4000.0,-4262,16.0,1,1,1,1,0,0,NaN,3.0,2,2,FRIDAY,5,0,0,0,0,1,1,Business Entity Type 3,0.202145,0.425687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-821.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

**--> application_test contient les même colonnes que application_train sauf la colonne "target". Ces deux tableaux sont créés pour être des split train/test lors de machine learning supervisé**

### 3 - bureau

In [10]:
bureau.shape

(1716428, 17)

In [11]:
bureau.head(5)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [12]:
application_train[application_train['SK_ID_CURR']==215354]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
99355,215354,0,Cash loans,F,Y,N,0,270000.0,720000.0,21181.5,720000.0,Unaccompanied,Working,Higher education,Married,House / apartment,0.028663,-17520,-939,-1203.0,-1064,4.0,1,1,0,1,0,0,Accountants,2.0,2,2,MONDAY,13,0,0,0,0,0,0,Trade: type 7,0.873736,0.522745,0.231439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,-1553.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0

In [13]:
bureau[bureau['SK_ID_CURR']==215354]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.00,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.00,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN
5,215354,5714467,Active,currency 1,-273,0,27460.0,NaN,0.0,0,180000.0,71017.38,108982.62,0.0,Credit card,-31,NaN
6,215354,5714468,Active,currency 1,-43,0,79.0,NaN,0.0,0,42103.8,42103.80,0.00,0.0,Consumer credit,-22,NaN
225157,215354,5714458,Closed,currency 1,-1872,0,-776.0,-1203.0,NaN,0,494550.0,0.00,0.00,0.0,Consumer credit,-696,NaN
225158,215354,5714459,Closed,currency 1,-1734,0,-638.0,-1336.0,NaN,0,1084032.0,0.00,NaN,0.0,Car loan,-1336,NaN
225159,215354,5714460,Closed,currency 1,-1333,0,-1089.0,-987.0,NaN,0,102150.0,NaN,NaN,0.0,Consumer credit,-984,NaN
225160,215354,5714461,Closed,currency 1,-1011,0,-830.0,-770.0,NaN,0,500463.0,NaN,NaN,0.0,Consumer credit,-767,NaN

**--> bureau liste les données de crédits précédents, contractés dans un autre organisme que Home Credit, à ceux en cours chez Home Credit. 1 ligne correspond à un crédit précédent.**

### 4 - bureau_balance

In [16]:
bureau_balance.shape

(27299925, 3)

In [17]:
bureau_balance.head(5)

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [19]:
bureau_balance[bureau_balance['SK_ID_BUREAU']==5715448]

    SK_ID_BUREAU  MONTHS_BALANCE STATUS
0        5715448               0      C
1        5715448              -1      C
2        5715448              -2      C
3        5715448              -3      C
4        5715448              -4      C
5        5715448              -5      C
6        5715448              -6      C
7        5715448              -7      C
8        5715448              -8      C
9        5715448              -9      0
10       5715448             -10      0
11       5715448             -11      X
12       5715448             -12      X
13       5715448             -13      X
14       5715448             -14      0
15       5715448             -15      0
16       5715448             -16      0
17       5715448             -17      0
18       5715448             -18      0
19       5715448             -19      0
20       5715448             -20      X
21       5715448             -21      X
22       5715448             -22      X
23       5715448             -23      X
24       5715448             -24      X
25       5715448             -25      X
26       5715448             -26      X

**--> bureau_balance semble présenter les paiements mensuels relatifs à chacun des crédit précédents (repertoriés dans "bureau"). 1 ligne correspond à 1 mois du crédit**

### 5 - credit_card_balance

In [20]:
credit_card_balance.shape

(3840312, 23)

In [21]:
credit_card_balance.head(5)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,1800.0,1800.0,0.000,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,2250.0,2250.0,60175.080,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,2250.0,2250.0,26926.425,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,11925.0,11925.0,224949.285,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,27000.0,27000.0,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

In [24]:
credit_card_balance[credit_card_balance['SK_ID_CURR']==215354].sort_values('MONTHS_BALANCE', ascending=False)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
2866689,2340808,215354,-1,401144.985,450000,0.0,0.000,0.0,0.000,20061.315,20250.0,20250.000,380975.850,398211.480,398211.480,0.0,0,0.0,0.0,27.0,Active,0,0
910250,2340808,215354,-2,407511.405,450000,0.0,0.000,0.0,0.000,20459.565,0.0,0.000,386690.850,404533.890,404533.890,0.0,0,0.0,0.0,26.0,Active,0,0
415088,2340808,215354,-3,370571.985,450000,270000.0,270000.000,0.0,0.000,4366.935,22500.0,2040.435,364190.850,370571.985,370571.985,2.0,2,0.0,0.0,25.0,Active,0,0
2264373,2340808,215354,-4,130543.650,450000,45000.0,48150.000,0.0,3150.000,20981.430,4500.0,133.065,125778.285,129198.150,129198.150,1.0,2,0.0,1.0,24.0,Active,0,0
1030307,2340808,215354,-5,55493.280,450000,0.0,1368.000,0.0,1368.000,18839.970,342000.0,321018.570,50628.285,55493.280,55493.280,0.0,1,0.0,1.0,23.0,Active,0,0
2062452,2340808,215354,-6,409706.730,450000,45000.0,47250.000,0.0,2250.000,18948.375,37849.5,19009.530,402899.355,408361.230,408361.230,1.0,2,0.0,1.0,22.0,Active,0,0
489652,2340808,215354,-7,383473.665,450000,0.0,90000.000,0.0,90000.000,13186.170,13500.0,13500.000,367223.400,380646.045,380646.045,0.0,1,0.0,1.0,21.0,Active,0,0
2030170,2340808,215354,-8,294434.955,450000,27000.0,117000.000,0.0,90000.000,15947.640,155700.0,155700.000,280771.560,291135.420,291135.420,1.0,2,0.0,1.0,20.0,Active,0,0
2768609,2340808,215354,-9,324466.380,450000,0.0,519.120,0.0,519.120,16252.920,17775.0,17775.000,307802.790,322100.280,322100.280,0.0,1,0.0,1.0,19.0,Active,0,0
3555301,2340808,215354,-10,330098.625,450000,0.0,1350.000,0.0,1350.000,17010.450,30150.0,30150.000,313429.095,327685.230,327685.230,0.0,1,0.0,1.0,18.0,Active,0,0
2083013,2340808,215354,-11,347243.850,450000,0.0,2020.500,0.0,2020.500,17447.085,0.0,0.000,329811.750,347243.850,347243.850,0.0,1,0.0,1.0,17.0,Active,0,0
1337695,2340808,215354,-12,333206.325,450000,0.0,0.000,0.0,0.000,18057.510,48150.0,30702.915,327791.250,335796.615,335796.615,0.0,0,0.0,0.0,16.0,Active,0,0
2636192,2340808,215354,-13,368671.500,450000,0.0,2250.000,0.0,2250.000,18802.080,0.0,0.000,350392.005,368671.500,368671.500,0.0,1,0.0,1.0,15.0,Active,0,0
3767881,2340808,215354,-14,353805.975,450000,0.0,3600.000,0.0,3600.000,19065.960,51750.0,32947.920,348142.005,356596.605,356596.605,0.0,2,0.0,2.0,14.0,Active,0,0
2898718,2340808,215354,-15,388648.530,450000,0.0,1349.685,0.0,1349.685,19371.060,19575.0,19575.000,369195.885,388648.530,388648.530,0.0,1,0.0,1.0,13.0,Active,0,0
2309902,2340808,215354,-16,393116.760,450000,0.0,0.000,0.0,0.000,16139.700,18000.0,18000.000,372293.595,393116.760,393116.760,0.0,0,0.0,0.0,12.0,Active,0,0
1624960,2340808,215354,-17,397556.820,450000,171000.0,171000.000,0.0,0.000,18056.070,180000.0,180000.000,375970.950,394865.820,394865.820,2.0,2,0.0,0.0,11.0,Active,0,0
1766805,2340808,215354,-18,391927.320,450000,248850.0,249974.145,0.0,1124.145,6591.420,6750.0,6750.000,373844.430,387890.820,387890.820,3.0,4,0.0,1.0,10.0,Active,0,0
378636,2340808,215354,-19,133842.150,450000,0.0,0.000,0.0,0.000,21943.530,0.0,0.000,123870.285,133842.150,133842.150,0.0,0,0.0,0.0,9.0,Active,0,0
577265,2340808,215354,-20,129216.735,450000,9000.0,9000.000,0.0,0.000,21670.920,336825.0,314881.470,123870.285,132455.295,132455.295,2.0,2,0.0,0.0,8.0,Active,0,0
400185,2340808,215354,-21,440171.190,450000,0.0,0.000,0.0,0.000,19197.765,0.0,0.000,415455.300,440171.190,440171.190,0.0,0,0.0,0.0,7.0,Active,0,0
263052,2340808,215354,-22,424505.025,450000,279000.0,279000.000,0.0,0.000,7604.010,30105.0,10907.235,415455.300,424689.120,424689.120,4.0,4,0.0,0.0,6.0,Active,0,0
3522419,2340808,215354,-23,157989.780,450000,0.0,6163.425,0.0,6163.425,6887.025,0.0,0.000,150904.260,157989.780,157989.780,0.0,3,0.0,3.0,5.0,Active,0,0
384765,2340808,215354,-24,146877.660,450000,135000.0,150150.510,0.0,15150.510,8932.230,200308.5,193421.475,144740.835,147896.730,147896.730,1.0,9,0.0,8.0,4.0,Active,0,0
470554,2340808,215354,-25,191860.920,450000,0.0,13107.780,0.0,13107.780,4824.270,4950.0,4950.000,177582.240,191860.920,191860.920,0.0,3,0.0,3.0,3.0,Active,0,0
2102982,2340808,215354,-26,176942.115,450000,132750.0,187372.890,0.0,54622.890,2250.000,112500.0,112500.000,164474.460,168869.115,168869.115,6.0,21,0.0,15.0,2.0,Active,0,0
1786354,2340808,215354,-27,91814.760,450000,76500.0,101104.740,0.0,24604.740,1345.500,65029.5,62779.500,89601.570,90469.260,90469.260,2.0,10,0.0,8.0,1.0,Active,0,0
2606963,2340808,215354,-28,45708.255,450000,45000.0,45000.000,0.0,0.000,NaN,2025.0,679.500,44320.500,44362.755,44362.755,1.0,1,0.0,0.0,NaN,Active,0,0
426146,2340808,215354,-29,1345.500,450000,135000.0,135000.000,0.0,0.000,NaN,137025.0,137025.000,0.000,0.000,0.000,1.0,1,0.0,0.0,NaN,Active,0,0
1563720,2340808,215354,-30,0.000,450000,0.0,0.000,0.0,0.000,NaN,0.0,0.000,0.000,0.000,0.000,0.0,0,0.0,0.0,NaN,Active,0,0

**--> credit_card_balance semble décrire le comportement des clients de précédents prêts contractés chez Home Credit (pour des clients liés à des prêts en cours**

### 6 - HomeCredit_columns_description

In [22]:
HomeCredit_columns_description.shape

(219, 5)

In [10]:
HomeCredit_columns_description.head(5)

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN

**--> HomeCredit_columns_description décrit toutes les colonnes de chaque fichier disponible**

### 7 - installments_payments

**installment = versement / mensualité**

In [25]:
installments_payments.shape

(13605401, 8)

In [26]:
installments_payments.head(5)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [33]:
pd.options.display.max_rows = 150

installments_payments[installments_payments['SK_ID_CURR']==215354].sort_values('DAYS_INSTALMENT', ascending=True)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
4327351,1362380,215354,1.0,1,-2548.0,-2552.0,5384.295,5384.295
5702561,1362380,215354,1.0,2,-2518.0,-2527.0,5384.295,5384.295
6402849,1362380,215354,1.0,3,-2488.0,-2498.0,5384.295,5384.295
5381276,1362380,215354,1.0,4,-2458.0,-2477.0,5384.295,5384.295
4331538,1362380,215354,1.0,5,-2428.0,-2477.0,5384.295,5384.295
7584543,1362380,215354,1.0,6,-2398.0,-2477.0,5384.295,5384.295
5401421,1362380,215354,1.0,7,-2368.0,-2371.0,5384.295,5384.295
4848591,1362380,215354,1.0,8,-2338.0,-2342.0,5352.300,5352.300
7290792,2829838,215354,1.0,1,-887.0,-898.0,51081.750,51081.750
4095294,2340808,215354,0.0,1,-884.0,-884.0,137025.000,137025.000
5454157,2340808,215354,0.0,3,-864.0,-864.0,679.500,679.500
5827971,2829838,215354,1.0,2,-857.0,-877.0,51081.750,51081.750
4689360,2340808,215354,0.0,2,-845.0,-864.0,1345.500,1345.500
6126829,2340808,215354,0.0,4,-836.0,-836.0,59175.000,59175.000
6992890,2340808,215354,0.0,6,-834.0,-834.0,3604.500,3604.500
6003602,2829838,215354,1.0,3,-827.0,-836.0,51081.750,51081.750
5566659,2340808,215354,0.0,7,-815.0,-815.0,112500.000,112500.000
6783826,2340808,215354,0.0,5,-815.0,-834.0,2250.000,2250.000
4043223,2829838,215354,1.0,4,-797.0,-797.0,51081.750,51081.750
5334519,2340808,215354,0.0,9,-786.0,-786.0,125.730,125.730
7464412,2340808,215354,0.0,8,-784.0,-786.0,4824.270,4824.270
6486605,2829838,215354,1.0,5,-767.0,-768.0,51081.750,51081.750
4619136,2340808,215354,0.0,11,-755.0,-755.0,184486.770,184486.770
4397580,2340808,215354,0.0,10,-753.0,-755.0,8932.230,8932.230
4486846,2829838,215354,1.0,6,-737.0,-740.0,51081.750,51081.750
4879705,2340808,215354,0.0,13,-732.0,-732.0,2.475,2.475
7547518,2340808,215354,0.0,12,-723.0,-732.0,6887.025,6887.025
4070522,2829838,215354,1.0,7,-707.0,-740.0,51081.750,51081.750
4313316,2340808,215354,0.0,14,-692.0,-692.0,7604.010,7604.010
7069297,2340808,215354,0.0,15,-692.0,-692.0,0.990,0.990
6488329,2829838,215354,1.0,8,-677.0,-740.0,51081.750,51081.750
6321606,2340808,215354,0.0,17,-671.0,-671.0,3302.235,3302.235
4290169,2340808,215354,0.0,16,-662.0,-671.0,19197.765,19197.765
4826957,2829838,215354,1.0,9,-647.0,-740.0,51081.750,51081.750
4720106,2340808,215354,0.0,19,-632.0,-632.0,154.080,154.080
7134235,2340808,215354,0.0,18,-631.0,-632.0,21670.920,21670.920
4198311,2829838,215354,2.0,10,-617.0,-628.0,787756.500,838838.250
4198310,2829838,215354,1.0,10,-617.0,-628.0,51081.750,838838.250
3887672,2340808,215354,0.0,21,-607.0,-607.0,293056.470,293056.470
5056498,2340808,215354,0.0,20,-600.0,-607.0,21943.530,21943.530
4787060,2829838,215354,3.0,11,-587.0,-588.0,11729.250,11729.250
6366504,2340808,215354,0.0,22,-572.0,-572.0,6591.420,6591.420
5483168,2340808,215354,0.0,23,-572.0,-572.0,158.580,158.580
4041955,2829838,215354,3.0,12,-557.0,-558.0,11729.250,11729.250
5321995,2340808,215354,0.0,25,-542.0,-542.0,161943.930,161943.930
5690378,2340808,215354,0.0,24,-541.0,-542.0,18056.070,18056.070
5822940,2829838,215354,3.0,13,-527.0,-558.0,11729.250,198.000
4119176,2829838,215354,3.0,13,-527.0,-525.0,11729.250,11531.250
6956984,2340808,215354,0.0,26,-511.0,-510.0,16139.700,16139.700
5022064,2340808,215354,0.0,27,-510.0,-510.0,1860.300,1860.300
6937980,2829838,215354,3.0,14,-497.0,-497.0,11729.250,11729.250
6177986,2340808,215354,0.0,28,-480.0,-479.0,19371.060,19371.060
3815405,2340808,215354,0.0,29,-479.0,-479.0,203.940,203.940
6995847,2829838,215354,3.0,15,-467.0,-467.0,11729.250,11729.250
5238872,2340808,215354,0.0,30,-450.0,-450.0,19065.960,19065.960
4048101,2340808,215354,0.0,31,-450.0,-450.0,1184.040,1184.040
4112466,2829838,215354,3.0,16,-437.0,-450.0,11729.250,11729.250
5684297,2340808,215354,0.0,33,-434.0,-434.0,12697.920,12697.920
5411959,2340808,215354,0.0,32,-419.0,-434.0,18802.080,18802.080
4567671,2829838,215354,3.0,17,-407.0,-429.0,11729.250,11729.250
5400243,2340808,215354,0.0,34,-388.0,-385.0,18057.510,18057.510
7386787,2340808,215354,0.0,35,-385.0,-385.0,8942.490,8942.490
4457077,2829838,215354,3.0,18,-377.0,-399.0,11729.250,11729.250
6430328,2340808,215354,0.0,37,-363.0,-363.0,3702.915,3702.915
7241501,2340808,215354,0.0,36,-358.0,-363.0,17447.085,17447.085
5780709,2829838,215354,3.0,19,-347.0,-369.0,11729.250,11729.250
6114068,2340808,215354,0.0,39,-328.0,-328.0,13139.550,13139.550
7034729,2340808,215354,0.0,38,-327.0,-328.0,17010.450,17010.450
4962004,2829838,215354,3.0,20,-317.0,-338.0,11729.250,11729.250
5862283,1130982,215354,1.0,1,-314.0,-322.0,25817.895,25817.895
3983768,2340808,215354,0.0,40,-297.0,-291.0,16252.920,2077.920
6902485,2340808,215354,0.0,40,-297.0,-294.0,16252.920,14175.000
4902985,2340808,215354,0.0,41,-291.0,-291.0,1522.080,1522.080
6816082,2829838,215354,3.0,21,-287.0,-307.0,11729.250,11729.250
4714528,1130982,215354,1.0,2,-284.0,-294.0,25817.895,25817.895
6896661,2340808,215354,0.0,42,-266.0,-265.0,15947.640,15947.640
7526651,2340808,215354,0.0,43,-265.0,-265.0,252.360,252.360
5917056,2340808,215354,0.0,44,-263.0,-263.0,139500.000,139500.000
3875768,2829838,215354,3.0,22,-257.0,-263.0,11729.250,11729.250
3929188,1130982,215354,1.0,3,-254.0,-262.0,25817.895,25817.895
4669276,2340808,215354,0.0,46,-237.0,-237.0,313.830,313.830
7559826,2340808,215354,0.0,45,-235.0,-237.0,13186.170,13186.170
5065930,1927804,215354,1.0,1,-233.0,-247.0,12750.750,12750.750
5386906,2829838,215354,3.0,23,-227.0,-243.0,11729.250,11729.250
6955114,1130982,215354,1.0,4,-224.0,-234.0,25817.895,25817.895
6811643,2340808,215354,0.0,48,-209.0,-209.0,1.125,1.125
4777548,2340808,215354,0.0,47,-207.0,-209.0,18948.375,18948.375
3972222,1927804,215354,1.0,2,-203.0,-215.0,12750.750,12750.750
5792570,2829838,215354,3.0,24,-197.0,-209.0,11729.250,11729.250
3895920,1130982,215354,2.0,5,-194.0,-209.0,50932.260,50932.260
7608028,2340808,215354,0.0,50,-191.0,-191.0,60.030,60.030
5273956,2340808,215354,0.0,49,-176.0,-191.0,18839.970,18839.970
4995728,1927804,215354,1.0,3,-173.0,-191.0,12750.750,12750.750
4687989,2829838,215354,3.0,25,-167.0,-164.0,11729.250,10977.840
7445033,2829838,215354,3.0,25,-167.0,-191.0,11729.250,751.410
7168483,2340808,215354,0.0,52,-165.0,-165.0,6018.570,6018.570
6427924,2340808,215354,0.0,53,-154.0,-154.0,315000.000,315000.000
5950740,2340808,215354,0.0,51,-146.0,-165.0,20981.430,20981.430
5072299,1927804,215354,1.0,4,-143.0,-164.0,12750.750,12750.750
7369722,2829838,215354,3.0,26,-137.0,-164.0,11729.250,7771.410
6864478,2829838,215354,3.0,26,-137.0,-133.0,11729.250,3957.840
4679073,2340808,215354,0.0,55,-125.0,-125.0,133.065,133.065
6413556,2340808,215354,0.0,54,-115.0,-125.0,4366.935,4366.935
6724212,1927804,215354,1.0,5,-113.0,-122.0,12750.750,12750.750
5474680,2829838,215354,3.0,27,-107.0,-107.0,11729.250,11729.250
7541799,2340808,215354,0.0,57,-94.0,-94.0,2040.435,2040.435
5315625,2340808,215354,0.0,56,-85.0,-94.0,20459.565,20459.565
5603168,1927804,215354,1.0,6,-83.0,-107.0,12750.750,12750.750
5766930,2829838,215354,3.0,28,-77.0,-84.0,11729.250,11729.250
6037337,2340808,215354,0.0,58,-54.0,-53.0,20061.315,20061.315
4457537,1927804,215354,1.0,7,-53.0,-61.0,12750.750,12750.750
4094285,2340808,215354,0.0,59,-53.0,-53.0,188.685,188.685
6566507,2829838,215354,3.0,29,-47.0,-46.0,11729.250,11729.250

**--> installments_payments semble établir l'historique des paiements de précédents crédits Home Office. 1 ligne correspond à 1 paiement**

### 8 - POS_CASH_balance

In [34]:
POS_CASH_balance.shape

(10001358, 8)

In [35]:
POS_CASH_balance.head(5)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [37]:
POS_CASH_balance[POS_CASH_balance['SK_ID_CURR']==215354].sort_values('MONTHS_BALANCE')

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
4802353,1362380,215354,-84,8.0,8.0,Active,0,0
4355326,1362380,215354,-83,8.0,7.0,Active,0,0
8923143,1362380,215354,-82,8.0,6.0,Active,0,0
4374636,1362380,215354,-81,8.0,5.0,Active,0,0
3710204,1362380,215354,-80,8.0,4.0,Active,0,0
1687741,1362380,215354,-79,8.0,3.0,Active,0,0
6039050,1362380,215354,-78,8.0,2.0,Active,0,0
2087412,1362380,215354,-77,8.0,1.0,Active,0,0
3978019,1362380,215354,-76,8.0,0.0,Completed,0,0
4226722,2829838,215354,-30,48.0,48.0,Active,0,0
5329058,2829838,215354,-29,48.0,47.0,Active,0,0
4376071,2829838,215354,-28,48.0,46.0,Active,0,0
4863645,2829838,215354,-27,48.0,45.0,Active,0,0
4802642,2829838,215354,-26,48.0,44.0,Active,0,0
3423721,2829838,215354,-25,48.0,43.0,Active,0,0
727403,2829838,215354,-24,48.0,42.0,Active,0,0
1274888,2829838,215354,-23,48.0,41.0,Active,0,0
8473425,2829838,215354,-22,48.0,40.0,Active,0,0
2644381,2829838,215354,-21,48.0,39.0,Active,0,0
3447604,2829838,215354,-20,48.0,38.0,Active,0,0
3308912,2829838,215354,-19,48.0,37.0,Active,0,0
3018130,2829838,215354,-18,48.0,36.0,Active,0,0
6693033,2829838,215354,-17,48.0,35.0,Active,0,0
8005847,2829838,215354,-16,48.0,34.0,Active,0,0
3142902,2829838,215354,-15,48.0,33.0,Active,0,0
3311567,2829838,215354,-14,48.0,32.0,Active,0,0
2583118,2829838,215354,-13,48.0,31.0,Active,0,0
237801,2829838,215354,-12,48.0,30.0,Active,0,0
4102945,1130982,215354,-11,6.0,6.0,Active,0,0
2415721,2829838,215354,-11,48.0,29.0,Active,0,0
3019304,2829838,215354,-10,48.0,28.0,Active,0,0
401194,1130982,215354,-10,6.0,5.0,Active,0,0
3079048,2829838,215354,-9,48.0,27.0,Active,0,0
8947494,1130982,215354,-9,6.0,4.0,Active,0,0
6544342,1130982,215354,-8,6.0,3.0,Active,0,0
9778537,1927804,215354,-8,36.0,36.0,Active,0,0
3777517,2829838,215354,-8,48.0,26.0,Active,0,0
2048854,2829838,215354,-7,48.0,25.0,Active,0,0
6476128,1130982,215354,-7,6.0,2.0,Active,0,0
7834979,1927804,215354,-7,36.0,35.0,Active,0,0
8588223,1130982,215354,-6,5.0,0.0,Completed,0,0
8330209,1927804,215354,-6,36.0,34.0,Active,0,0
2090392,2829838,215354,-6,48.0,24.0,Active,0,0
1135611,2829838,215354,-5,48.0,23.0,Active,0,0
9057632,1927804,215354,-5,36.0,33.0,Active,0,0
3017140,2829838,215354,-4,48.0,22.0,Active,0,0
9567069,1927804,215354,-4,36.0,32.0,Active,0,0
8956465,1927804,215354,-3,36.0,31.0,Active,0,0
2768091,2829838,215354,-3,48.0,21.0,Active,0,0
9031065,1927804,215354,-2,36.0,30.0,Active,0,0
4102340,2829838,215354,-2,48.0,20.0,Active,0,0
3604574,2829838,215354,-1,48.0,19.0,Active,0,0
6359500,1927804,215354,-1,36.0,29.0,Active,0,0

**--> POS_CASH_balance décrit le remboursement mensuel de prêts précédents chez Home Credit. 1 ligne représente 1 mois de remboursement**

### 9 - previous_application

In [38]:
previous_application.shape

(1670214, 37)

In [39]:
previous_application.head(5)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

**--> previous_application décrit les précédentes demandes de prêt. 1 ligne correspond à 1 demande de prêt**

### 10 - sample_submission

In [26]:
sample_submission.shape

(48744, 2)

In [14]:
sample_submission.head(5)

   SK_ID_CURR  TARGET
0      100001     0.5
1      100005     0.5
2      100013     0.5
3      100028     0.5
4      100038     0.5

In [40]:
sample_submission.TARGET.value_counts()

0.5    48744
Name: TARGET, dtype: int64

In [41]:
sample_submission.SK_ID_CURR.value_counts()

131072    1
234556    1
312077    1
381711    1
366909    1
         ..
114077    1
175519    1
411012    1
410679    1
198655    1
Name: SK_ID_CURR, Length: 48744, dtype: int64

**--> sample submission contient l'ensemble des identifiants de demandes de prêt contenues dans "application_test"**

----------------------

## <center>2) Sélection d'un modèle Kaggle</center>

**Nous choisissons le modèle Kaggle suivant :**

https://www.kaggle.com/willkoehrsen/start-here-a-gentle-introduction

------------------

## <center>3) Exploration de données</center>

### 1 - Valeurs manquantes

In [42]:
# Function to calculate missing values by column# Funct 
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [43]:
# Missing values statistics
missing_values = missing_values_table(application_train)
missing_values.head(20)

Your selected dataframe has 122 columns.
There are 67 columns that have missing values.

                          Missing Values  % of Total Values
COMMONAREA_MEDI                   214865               69.9
COMMONAREA_AVG                    214865               69.9
COMMONAREA_MODE                   214865               69.9
NONLIVINGAPARTMENTS_MEDI          213514               69.4
NONLIVINGAPARTMENTS_MODE          213514               69.4
NONLIVINGAPARTMENTS_AVG           213514               69.4
FONDKAPREMONT_MODE                210295               68.4
LIVINGAPARTMENTS_MODE             210199               68.4
LIVINGAPARTMENTS_MEDI             210199               68.4
LIVINGAPARTMENTS_AVG              210199               68.4
FLOORSMIN_MODE                    208642               67.8
FLOORSMIN_MEDI                    208642               67.8
FLOORSMIN_AVG                     208642               67.8
YEARS_BUILD_MODE                  204488               66.5
YEARS_BUILD_MEDI                  204488               66.5
YEARS_BUILD_AVG                   204488               66.5
OWN_CAR_AGE                       202929               66.0
LANDAREA_AVG                      182590               59.4
LANDAREA_MEDI                     182590               59.4
LANDAREA_MODE                     182590               59.4